node-red
[{"id":"b55d643.5d5f098","type":"function","z":"4427745.984738c","name":"data_clean","func":"var c = msg.payload;\nvar load = c.split(':')\nif(load[0] == 'T')\n{\n    msg.payload = {'temp':load[1]};\n    msg.topic = '/temp';\n}\nelse if(load[0] == 'E')\n{\n    msg.payload = {'ecg':load[1]};\n    msg.topic = '/ecg';\n}\nelse if(load[0] == 'M')\n{\n    msg.payload = {'emg':load[1]};\n    msg.topic = '/emg';\n}\nelse if(load[0] == 'C')\n{\n    msg.payload = {'con':load[1]};\n    msg.topic = '/con';\n}\nelse if(load[0] == 'R')\n{\n    msg.payload = {'res':load[1]};\n    msg.topic = '/res';\n}\nelse if(load[0] == 'C' && load[1] == 'V')\n{\n    msg.payload = {'cv':load[1]};\n    msg.topic = '/cv';\n}\nelse\n{\n     msg.topic = '/error';\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":336,"y":205,"wires":[["2349aa25.9140d6","b0c1edc6.d5e92","f023c175.f76aa"]]},{"id":"8d5bcf34.a04f8","type":"serial in","z":"4427745.984738c","name":"","serial":"89598ffe.6ebf9","x":124,"y":208.00000047683716,"wires":[["b55d643.5d5f098"]]},{"id":"b6d5ed50.154a","type":"serial out","z":"4427745.984738c","name":"","serial":"89598ffe.6ebf9","x":403.33331298828125,"y":412.99993896484375,"wires":[]},{"id":"209abe45.e53e12","type":"inject","z":"4427745.984738c","name":"Temp","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":194.33331298828125,"y":562.9999389648438,"wires":[["b6d5ed50.154a"]]},{"id":"9865549e.2ab708","type":"inject","z":"4427745.984738c","name":"ECG","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":197.99996948242188,"y":502.99993896484375,"wires":[["b6d5ed50.154a"]]},{"id":"b0c1edc6.d5e92","type":"wiotp out","z":"4427745.984738c","authType":"d","qs":"true","qsDeviceId":"7ddf9e4f.d96c","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":769.3331298828125,"y":40.99999237060547,"wires":[]},{"id":"35cb9541.c3752a","type":"inject","z":"4427745.984738c","name":"EMG","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":192.33328247070312,"y":436.6666259765625,"wires":[["b6d5ed50.154a"]]},{"id":"cbfdda87.141978","type":"comment","z":"4427745.984738c","name":"Data Send to Cloud","info":"","x":95,"y":141.00000047683716,"wires":[]},{"id":"9e609c29.05a46","type":"comment","z":"4427745.984738c","name":"Alerts From cloud","info":"","x":111.33331298828125,"y":670.6666264533997,"wires":[]},{"id":"a8832fc6.b8707","type":"debug","z":"4427745.984738c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1048.3333129882812,"y":648.6666259765625,"wires":[]},{"id":"2349aa25.9140d6","type":"mqtt out","z":"4427745.984738c","name":"","topic":"","qos":"2","retain":"","broker":"d5dad09f.3c2e3","x":765.6666259765625,"y":98.66667938232422,"wires":[]},{"id":"93b4f449.054668","type":"mqtt in","z":"4427745.984738c","name":"","topic":"/temp","qos":"2","broker":"d5dad09f.3c2e3","x":127.33331298828125,"y":768.6666264533997,"wires":[["78c38632.7e4f08"]]},{"id":"78c38632.7e4f08","type":"function","z":"4427745.984738c","name":"url","func":"var d = JSON.parse(msg.payload)\nvar num = 9099056681\nif( d['temp'] > 35)\n{\n    msg.payload = d['temp']\n    msg.url='http://api.msg91.com/api/sendhttp.php?sender=MSGIND&route=4&mobiles='+num+'&authkey=190441AX5WGH2Npn5a466395&country=91&message=Temperature increased to '+d['temp']+'\"'\n    return msg\n}\n","outputs":1,"noerr":0,"x":410.33331298828125,"y":765.6666264533997,"wires":[["99ac3761.5852a"]]},{"id":"c9cb9245.aeb9","type":"comment","z":"4427745.984738c","name":"Connecting With Ledger","info":"","x":145.33331298828125,"y":916.6666264533997,"wires":[]},{"id":"238e0628.1d2d6a","type":"pubnub out","z":"4427745.984738c","keys":"e481fa2d.c2a818","channel":"temp","auth_token":"sec-c-MTk2NjZhNmMtMmFmZi00ODFjLWIxZTQtMDI0YjgwYjIxZDgx","cipher_key":"","ssl":true,"verbose_logging":false,"x":1063.6666259765625,"y":180,"wires":[]},{"id":"99ac3761.5852a","type":"http request","z":"4427745.984738c","name":"","method":"GET","ret":"txt","url":"","x":589.8333129882812,"y":767.6666259765625,"wires":[["a8832fc6.b8707"]]},{"id":"f023c175.f76aa","type":"switch","z":"4427745.984738c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"/temp","vt":"str"},{"t":"eq","v":"/ecg","vt":"str"},{"t":"eq","v":"/emg","vt":"str"},{"t":"eq","v":"/con","vt":"str"},{"t":"eq","v":"/res","vt":"str"},{"t":"eq","v":"/cv","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":566.8333740234375,"y":222.33331298828125,"wires":[["6bfe94ba.8abdc4"],["f6c6b5fb.5b9d6"],["56a7f7f6.20f8d8"],["e258f1eb.d79888"],["5c67494b.05e09"],["41b34bfe.aee19c"]]},{"id":"6bfe94ba.8abdc4","type":"function","z":"4427745.984738c","name":"","func":"var c = msg.payload \nc['temp'] = parseFloat(c['temp'])\nmsg.payload = {'eon':c}\nreturn msg;","outputs":1,"noerr":0,"x":811.6666259765625,"y":183.33334350585938,"wires":[["238e0628.1d2d6a","a8832fc6.b8707"]]},{"id":"f6c6b5fb.5b9d6","type":"function","z":"4427745.984738c","name":"","func":"var c = msg.payload \nc['ecg'] = parseFloat(c['ecg'])\nmsg.payload = {'eon':c}\nreturn msg;","outputs":1,"noerr":0,"x":806.6666259765625,"y":233.33334350585938,"wires":[["b315bf08.0273c8","a8832fc6.b8707"]]},{"id":"56a7f7f6.20f8d8","type":"function","z":"4427745.984738c","name":"","func":"var c = msg.payload \nc['emg'] = parseFloat(c['emg'])\nmsg.payload = {'eon':c}\nreturn msg;","outputs":1,"noerr":0,"x":806.6666259765625,"y":288.3333435058594,"wires":[["4ee04562.de1054","a8832fc6.b8707"]]},{"id":"b315bf08.0273c8","type":"pubnub out","z":"4427745.984738c","keys":"e481fa2d.c2a818","channel":"ecg","auth_token":"sec-c-MTk2NjZhNmMtMmFmZi00ODFjLWIxZTQtMDI0YjgwYjIxZDgx","cipher_key":"","ssl":true,"verbose_logging":false,"x":1068.333251953125,"y":231.66665649414062,"wires":[]},{"id":"4ee04562.de1054","type":"pubnub out","z":"4427745.984738c","keys":"e481fa2d.c2a818","channel":"emg","auth_token":"sec-c-MTk2NjZhNmMtMmFmZi00ODFjLWIxZTQtMDI0YjgwYjIxZDgx","cipher_key":"","ssl":true,"verbose_logging":false,"x":1068.333251953125,"y":281.6666564941406,"wires":[]},{"id":"2a9fe3e3.8fbc74","type":"inject","z":"4427745.984738c","name":"Con","topic":"","payload":"4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":192.08328247070312,"y":378.33331298828125,"wires":[["b6d5ed50.154a"]]},{"id":"36e4477b.d43e2","type":"inject","z":"4427745.984738c","name":"Res","topic":"","payload":"5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":186.6666259765625,"y":334.9999694824219,"wires":[["b6d5ed50.154a"]]},{"id":"fe9c4f92.2433e","type":"inject","z":"4427745.984738c","name":"CV","topic":"","payload":"6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":183.33331298828125,"y":283.3333435058594,"wires":[["b6d5ed50.154a"]]},{"id":"e258f1eb.d79888","type":"function","z":"4427745.984738c","name":"","func":"var c = msg.payload \nc['con'] = parseFloat(c['con'])\nmsg.payload = {'eon':c}\nreturn msg;","outputs":1,"noerr":0,"x":806.6666259765625,"y":348.3333435058594,"wires":[["2ab63c1c.6be74c","a8832fc6.b8707"]]},{"id":"2ab63c1c.6be74c","type":"pubnub out","z":"4427745.984738c","keys":"e481fa2d.c2a818","channel":"con","auth_token":"sec-c-MTk2NjZhNmMtMmFmZi00ODFjLWIxZTQtMDI0YjgwYjIxZDgx","cipher_key":"","ssl":true,"verbose_logging":false,"x":1075,"y":346.6666564941406,"wires":[]},{"id":"5c67494b.05e09","type":"function","z":"4427745.984738c","name":"","func":"var c = msg.payload \nc['res'] = parseFloat(c['res'])\nmsg.payload = {'eon':c}\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":429.9999694824219,"wires":[["34cbfa89.faa106","a8832fc6.b8707"]]},{"id":"34cbfa89.faa106","type":"pubnub out","z":"4427745.984738c","keys":"e481fa2d.c2a818","channel":"res","auth_token":"sec-c-MTk2NjZhNmMtMmFmZi00ODFjLWIxZTQtMDI0YjgwYjIxZDgx","cipher_key":"","ssl":true,"verbose_logging":false,"x":1078.3333740234375,"y":428.3332824707031,"wires":[]},{"id":"41b34bfe.aee19c","type":"function","z":"4427745.984738c","name":"","func":"var c = msg.payload \nc['cv'] = parseFloat(c['cv'])\nmsg.payload = {'eon':c}\nreturn msg;","outputs":1,"noerr":0,"x":813.333251953125,"y":493.3333435058594,"wires":[["4aab8ffa.e4b808","a8832fc6.b8707"]]},{"id":"4aab8ffa.e4b808","type":"pubnub out","z":"4427745.984738c","keys":"e481fa2d.c2a818","channel":"cv","auth_token":"sec-c-MTk2NjZhNmMtMmFmZi00ODFjLWIxZTQtMDI0YjgwYjIxZDgx","cipher_key":"","ssl":true,"verbose_logging":false,"x":1081.6666259765625,"y":491.6666564941406,"wires":[]},{"id":"2636e2c1.0dcbd6","type":"function","z":"4427745.984738c","name":"","func":"var c = 1 \nmsg.payload = {'eon':{'temp':msg.payload}}\nreturn msg;","outputs":1,"noerr":0,"x":724.5,"y":570,"wires":[["a8832fc6.b8707"]]},{"id":"89598ffe.6ebf9","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"d5dad09f.3c2e3","type":"mqtt-broker","z":"","name":"","broker":"m11.cloudmqtt.com","port":"10316","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"e481fa2d.c2a818","type":"pubnub-keys","z":"","pub_key":"pub-c-4d556352-7d6c-4e2f-8552-b582adaa29ea","sub_key":"sub-c-48d89856-246e-11e8-bb29-5a43d096f02f"}]
